<div class="container">
    <mat-toolbar class="style">
      <span>Promociones</span>
    </mat-toolbar>

    <mat-grid-list cols="2" rowHeight="2:1" >
      <mat-grid-tile> <img src="../../../assets/img/promo-01.jpg" width="70%">> </mat-grid-tile>
      <mat-grid-tile> <img src="../../../assets/img/promo-02.jpg" width="70%"> </mat-grid-tile>
      <mat-grid-tile> <img src="../../../assets/img/promo-03.jpg" width="70%"> </mat-grid-tile>
      <mat-grid-tile> <img src="../../../assets/img/promo-02.jpg" width="70%"> </mat-grid-tile>
    </mat-grid-list>

    
  </div>