<main role="main">
    
    <div class="jumbotron p-3 bg-transparent text-dark">
        <div class="container">
            <h1>Te damos la bienvenida a TECAir</h1>
            <h2>Tu aventura comienza acá. Explorá lo desconocido. </h2>
            <p><a href="#" class="btn btn-secondary btn-lg">Ver catálogo</a></p>
        </div>
    </div>

    <div id="promoCarousel" class="carousel slide fixed" style="width:100%; height: 400px;" data-bs-interval="5000" data-bs-ride="carousel">
        
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="assets/images/promo-01.jpg"  class="img-fluid d-block rounded mx-auto"  alt="First slide">
            </div>
            <div class="carousel-item">
            <img src="assets/images/promo-02.jpg" class="img-fluid d-block rounded mx-auto" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img src="assets/images/promo-03.jpg" class="img-fluid d-block rounded mx-auto" alt="Third slide">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="wrapper bg-transparent">
        <form action="#">
            <div class="form-group border-bottom d-flex align-items-center justify-content-between flex-wrap"> 
                <label class="option my-sm-0 my-2"> <input type="radio" name="radio" checked>Ida y vuelta <span class="checkmark"></span>
                </label> 
                <label class="option my-sm-0 my-2">
                    <input type="radio" name="radio">Solo ida <span class="checkmark"></span> 
                </label>
            </div>
            <div class="form-group d-sm-flex margin-top:10px align-items-center">
                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 margin-top position-relative">
                    <p>Seleccione origen</p>
                </div>
                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 margin-top position-relative">
                    <p>Seleccione destino</p>
                </div>
            </div>
            <div class="form-group d-sm-flex border-bottom">
                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 position-relative">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="travel.id_origin" [ngModelOptions]="{standalone: true}" placeholder="Seleccione origen">
                        <option *ngFor="let opt of airportsList" value={{opt.id}}>{{opt.country}}</option>
                    </select>
                </div>
                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 position-relative">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="travel.id_origin" [ngModelOptions]="{standalone: true}" placeholder="Seleccione origen">
                        <option *ngFor="let opt of airportsList" value={{opt.id}}>{{opt.country}}</option>
                    </select>
                    <span class="fas fa-dot-circle text-muted"></span>
                </div>
            </div>
            <div class="form-group d-sm-flex margin-top:10px align-items-center">
                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 margin-top position-relative">
                    <p>Fecha de salida</p>
                </div>
            </div>
            <div class="form-group d-sm-flex border-bottom" style="margin-top:7px">
                <p style="margin-right:10px">del</p>
                <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 position-relative" style="margin-right:10px"> 
                    <input type="date" class="form-control">
                    <div class="label"></div>
                </div>
                <p style="margin-right:10px">hasta</p>
                <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 position-relative" style="margin-right:10px"> 
                    <input type="date" class="form-control">
                    <div class="label"></div>
                </div>
            </div>
            <div>
                <p>Precio:</p>
            </div>
            <div class=" form-group border-bottom d-flex align-items-center position-relative" style="margin-top:10px">
                <p style="margin-right:10px">desde</p>
                <div class="form-group col-md-4 col-sm-12" style="margin-right:10px">
                    <input type="number" required placeholder="dolares" class="form-control">
                </div>
                <p style="margin-right:10px">hasta</p>
                <div class="form-group col-md-4 col-sm-12">
                    <input type="number" required placeholder="dolares" class="form-control">
                </div>
                <div class="label" id="psngr"></div> <span class="fas fa-users text-muted"></span>
            </div>
            <div class="form-group my-3">
                <button  class="btn btn-success rounded-2 justify-content-center text-center p-3"
                                (click)="goToPage('reservation')" type="submit">
                    Buscar Vuelos
                </button>
            </div>
        </form>
    </div>
</main>


