<main role="main">
    
    <div class="jumbotron p-3 bg-transparent text-dark">
        <div class="container">
            <h1>Te damos la bienvenida a TECAir</h1>
            <h2>Tu aventura comienza acá. Explorá lo desconocido. </h2>
            <p><a href="#" class="btn btn-secondary btn-lg">Ver catálogo</a></p>
        </div>
    </div>

    <div id="promoCarousel" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="assets/images/promo-01.jpg"  class="img-fluid rounded mx-auto d-block"  alt="First slide">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="assets/images/promo-02.jpg" class="img-fluid rounded mx-auto d-block" alt="Second slide">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="assets/images/promo-03.jpg" class="img-fluid rounded mx-auto d-block" alt="Third slide">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
<div class="wrapper bg-transparent">
    <form action="#">
        <div class="form-group border-bottom d-flex align-items-center justify-content-between flex-wrap"> 
            <label class="option my-sm-0 my-2"> <input type="radio" name="radio" checked>Ida y vuelta <span class="checkmark"></span>
            </label> 
            <label class="option my-sm-0 my-2">
                <input type="radio" name="radio">Solo ida <span class="checkmark"></span> 
            </label>
            
            </div>
            <div class="form-group d-sm-flex margin">
                <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 border-bottom position-relative">
                    <input type="text" required placeholder="Origen" class="form-control">
                    <div class="label" id="Origen">
                    </div> 
                    <span class="fas fa-dot-circle text-muted"></span>
                </div>
                <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative"> 
                    <input type="text" required placeholder="Destino" class="form-control">
                    <div class="label" id="Destino"></div> <span class="fas fa-map-marker text-muted"></span>
                </div>
            </div>
            <div class="form-group d-sm-flex margin">
                <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative"> 
                    <input type="date" required placeholder="Fecha de salida" class="form-control">
                    <div class="label" id="depart"></div>
                </div>
                <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative"> 
                    <input type="date" required placeholder="Fecha de regreso" class="form-control">
                    <div class="label" id="return"></div>
                </div>
            </div>
            <div class="form-group border-bottom d-flex align-items-center position-relative"> <input type="text" required placeholder="Cantidad de pasajeros" class="form-control">
                <div class="label" id="psngr"></div> <span class="fas fa-users text-muted"></span>
            </div>
            <div class="form-group my-3">
                <div class="btn btn-primary rounded-0 d-flex justify-content-center text-center p-3">Buscar Vuelos </div>
            </div>
    </form>
</div>
</main>


