<div class="container-fluid vh-100" style="margin-top:200px">
    <div class="" style="margin-top:200px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-dark">
                <div class="text-center">
                    <h3 class="text-primary">Check in de pasajero</h3>
                </div>
                <form action="">
                    <div class="p-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-card-heading text-white"></i></span>
                            <input type="number" class="form-control" placeholder="Número de tiquete">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus text-white"></i></span>
                            <input type="email" class="form-control" placeholder="correo electrónico">
                        </div>                       
                        <button type="submit" class="btn btn-success text-center mt-2">
                            Confirmar
                        </button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>