<div class="container">
    <h4>Lista oficial de vuelos</h4>
    <table class="table table-responsive justify-content-between">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Destino</th>
            <th scope="col">Avion</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
            <tbody *ngFor='let rot of routesList'>
                <tr *ngFor='let flt of flightsList;let i = index'>
                    <th scope="row" *ngIf='flt.id_ruta == rot.id'>{{flt.id}}</th>
                    <td *ngIf='flt.id_ruta == rot.id'>{{rot.name}}</td>
                    <td *ngIf='flt.id_ruta == rot.id'>{{flt.id_airplane}}</td>
                    <td *ngIf='flt.id_ruta == rot.id'>{{flt.status}}</td>
                    <td *ngIf='flt.id_ruta == rot.id'>
                        <button class="btn btn-primary text-center mt-2" type="submit" (click)="closeFlight(flt)">Cerrar</button>
                        <button class="btn btn-primary text-center mt-2" type="submit" (click)="openFlight(flt)">Abrir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex rounded-1">
            
        </div>             
</div>

