<div class="container">
    <h4>Lista oficial de pasajeros</h4>
    <table class="table table-responsive justify-content-between">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Cantidad de maletas</th>
          </tr>
        </thead>
            <tbody>
                <tr>
                    
                    <td>Juan</td>
                    <td>Peña</td>
                    <td>Rostrán</td>
                    <td>3</td>                  
                </tr>
                <tr>
                    
                    <td>Ignacio</td>
                    <td>Morales</td>
                    <td>Chang</td>
                    <td>1</td>
                </tr>
                <tr>
                    
                    <td>Anthony</td>
                    <td>Montero</td>
                    <td>Román</td>
                    <td>4</td>   
                </tr>
                <tr>
                    
                    <td>Esteban</td>
                    <td>Morales</td>
                    <td>Ureña</td>
                    <td>4</td>   
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex rounded-1">
            <button class="btn btn-warning justify-content-left" type="button">Cerrar Vuelo</button>
        </div>             
</div>

