<div class="container-fluid vh-75" style="margin-top:100px">
    <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-dark">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-dark justify-content-center">
                        <h4>AÑADIR DETALLER DE PAGO</h4>
                    </div>
                    <div class="row">
                        <h3 class="text-center">Pago de reservación</h3>
                        <img class="img-responsive cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>No. Tarjeta</label>
                                    <div class="input-group">
                                        <input type="tel" class="form-control" placeholder="No. Tarjeta" />
                                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label>Fecha de vencimiento</label>
                                    <input type="tel" class="form-control" placeholder="MM / AA" />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label>CVC</label>
                                    <input type="tel" class="form-control" placeholder="CVC" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Propietario de Tarjeta</label>
                                    <input type="text" class="form-control" placeholder="Propietario de Tarjeta" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-warning btn-lg btn-block">Procesar pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

