<div class="container">
    <h4>Seleccione el vuelo que desea</h4>
    <table class="table table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col"># Vuelo</th>
            <th scope="col">Hora de salida</th>
            <th scope="col">Hora de llegada</th>
            <th scope="col">Numero de pasajeros</th>
            <th scope="col">Precio (Colones)</th>
            <th scope="col">Selección</th>
          </tr>
        </thead>
            <tbody *ngFor="let result of selectionsList">
                <tr>
                    <th scope="row">{{result.nVuelo}}</th>
                    <td>{{result.salida}}</td>
                    <td>{{result.llegada}}</td>
                    <td>{{result.pasajeros}}</td>
                    <td>{{result.precio}}</td>
                    <td>
                        <input type="radio" name="radio"><span class="checkmark"></span> 
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex rounded-1">
            <button (click)="goToPage('payment')" class="btn btn-primary me-md-2 justify-content-md-end" type="button">Confirmar reservación</button>
            <button (click)="goToPage('home_page')" class="btn btn-warning justify-content-left" type="button">Regresar</button>
        </div>
              
</div>

