<div class="container">
    <h4>Seleccione el vuelo que desea</h4>
    <table class="table table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col"># Vuelo</th>
            <th scope="col">Hora de salida</th>
            <th scope="col">Hora de llegada</th>
            <th scope="col">Paradas</th>
            <th scope="col">Precio (Colones)</th>
            <th scope="col">Selección</th>
          </tr>
        </thead>
            <tbody *ngFor='let rot of routesList'>
                <tr>
                    <th scope="row">1</th>
                    <td>11:20 am</td>
                    <td>11:00 pm</td>
                    <td>1</td>
                    <td>100 000</td>
                    <td>
                        <input type="radio" name="radio"><span class="checkmark"></span> 
                    </td>
                </tr>
                <tr *ngFor='let flt of flightsList;let i = index'>
                    <th scope="row" *ngIf='flt.id_ruta == rot.id'>{{flt.id}}</th>
                    <td *ngIf='flt.id_ruta == rot.id'>{{rot.name}}</td>
                    <td *ngIf='flt.id_ruta == rot.id'>{{flt.id_airplane}}</td>
                    <td *ngIf='flt.id_ruta == rot.id'>{{flt.status}}</td>
                    <td *ngIf='flt.id_ruta == rot.id'>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex rounded-1">
            <button (click)="goToPage('payment')" class="btn btn-primary me-md-2 justify-content-md-end" type="button">Confirmar reservación</button>
            <button (click)="goToPage('home_page')" class="btn btn-warning justify-content-left" type="button">Regresar</button>
        </div>
              
</div>

