<div class="container">

    <div class="container-fluid vh-100" style="margin-top:100px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-dark">
                    <div class="text-center">
                        <h3 class="text-primary">Asignación de maletas</h3>
                    </div>
                    <form action="">
                        <div class="p-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi bi-card-heading text-white"></i></span>
                                <input type="number" class="form-control" placeholder="ID de pasajero">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi bi-card-heading text-white"></i></span>
                                <input type="text" class="form-control" placeholder="Código de maleta">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi-speedometer text-white"></i></span>
                                <input type="number" class="form-control" placeholder="Peso de maleta">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi bi-palette text-white"></i></span>
                                <input type="text" class="form-control" placeholder="Color">
                            </div>  
                            <button class="btn btn-primary text-center mt-2" type="submit">
                                Registrar
                            </button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>