<div class="row g-3 shadow-lg p-5 bg-dark" style="margin-top:10px">
     <!--
        VIAJE
        Formularios requeridos para realizar un vuelo.
        Se pueden agregar rutas

    -->  
    <h5>Registro de Ruta</h5>
    <div class="col-md-4 col-sm-12">
        
        <label>Ingrese número de ruta</label>
      <input type="number" [(ngModel)]="newRoute.id" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Número de ruta" aria-label="Número de ruta">
    </div>
    <div class="col-md-4 col-sm-12">
        <label>Ingrese nombre de ruta</label>
      <input type="text" [(ngModel)]="newRoute.name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombre de ruta" aria-label="Nombre de ruta">
    </div>
    <div class="col-md-4 ">
        <button class="btn btn-success text-center form-control" (click)="addRoute(newRoute)" type="submit">
            Registrar ruta
        </button> 
    </div>
    <!--
        VIAJE
        Formularios requeridos para realizar un vuelo.
        Se pueden agregar viajes(escalas o directos)

    -->
    <h5>Registro de viaje (directo o escalas)</h5>
    <div class="col-md-4 col-sm-12">
        
        <label>Ingrese número de viaje</label>
      <input type="number" [(ngModel)]="newTravel.number" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Número de viaje" aria-label="Número de viaje">
    </div>
    <div class="col-md-4 col-sm-12">
        <label>Ingrese nombre de viaje</label>
      <input type="text" [(ngModel)]="newTravel.name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombre de viaje" aria-label="Nombre de viaje">
    </div>
    <div class="form-group col-md-4 col-sm-12">
        <label>Ingrese ruta del viaje</label>
        <select  class="form-select form-select-sm"  [(ngModel)]="newTravel.id_route" [ngModelOptions]="{standalone: true}" aria-label="Selección">
            <option [ngValue]="0">--Select--</option> <!-- Default item to show -->
            <option *ngFor="let opts of routeList " [ngValue]="opts.id" type="text">
         {{opts.name}}</option>
        </select>
    </div>
    <div class="col-md-4 col-sm-12">
        <label>Ingrese fecha y hora de salida</label>
      <input type="datetime-local" [(ngModel)]="newTravel.departure_time" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Hora Salida" aria-label="Hora Salida">
    </div>
    <div class="col-md-4 col-sm-12">
        <label>Ingrese fecha y hora de llegada</label>
      <input type="datetime-local" [(ngModel)]="newTravel.arrival_time" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Hora llegada" aria-label="Hora llegada">
    </div>
    <div class="col-md-4 col-sm-12">
        <span class="col-md-4 col-sm-12 bg-dark"><i
                class="bi bi bi-pin-map text-white"></i>    Ingrese ciudad de aeropuerto origen  </span>
        <select  class="form-select form-select-sm"  [(ngModel)]="newTravel.id_origin" [ngModelOptions]="{standalone: true}" aria-label="Selección">
            <option [ngValue]="0">--Select--</option> <!-- Default item to show -->
            <option *ngFor="let opts of airportList " [ngValue]="opts.id" type="text">
            {{opts.city}}</option>
        </select>
    </div>

    <div class="col-md-4 col-sm-12">
        <span class="col-md-4 col-sm-12 bg-dark"><i
                class="bi bi bi-pin-map-fill text-white"></i>   Ingrese ciudad de aeropuerto destino  </span>
        <select  class="form-select form-select-sm"  [(ngModel)]="newTravel.id_destination" [ngModelOptions]="{standalone: true}" aria-label="Selección">
            <option [ngValue]="0">--Select--</option> <!-- Default item to show -->
            <option *ngFor="let opts of airportList " [ngValue]="opts.id" type="text">
            {{opts.city}}</option>
        </select>
    </div>
    <div class="col-md-4">
        <button class="btn btn-success text-center form-control" (click)="addTravel(newTravel)" type="submit">
            Registrar viaje
        </button> 
    </div>
        <!--
        Vuelo:
        una vez definida una serie de viajes asocicados a una ruta se puede proceder a registar
        un vuelo

    -->
    <h5>Registro de Vuelos</h5>
    <div class="col-md-4 col-sm-12">
        <label>Ingrese número de vuelo</label>
      <input type="number" [(ngModel)]="newFlight.id" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Número de vuelo" aria-label="Número de vuelo">
    </div>

    <div class="col-md-4 col-sm-12">   
        <label>Ingrese precio de vuelo en colones</label>
      <input type="number" [(ngModel)]="newFlight.cost" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Costo" aria-label="Costo">
    </div>

    <div class="col-md-4 col-sm-12">   
        <label>Ingrese Matrícula del avion</label>
        <select  class="form-select form-select-sm"  [(ngModel)]="newFlight.id_airplane" [ngModelOptions]="{standalone: true}" aria-label="Selección">
            <option [ngValue]="0">--Select--</option> <!-- Default item to show -->
            <option *ngFor="let opts of airplaneList " [ngValue]="opts.registration" type="text">
            {{opts.registration}}</option>
        </select>
    </div>
    <div class="col-md-4 col-sm-12">   
        <label>Ingrese status del vuelo</label>
        <select  class="form-select form-select-sm"  [(ngModel)]="newFlight.status" [ngModelOptions]="{standalone: true}" aria-label="Selección">
            <option value="indefinido">--Indefinido--</option> <!-- Default item to show -->
           
        </select>
    </div>

    <div class="col-md-4 col-sm-12">   
        <label>Ingrese número de pasajeros</label>
      <input type="number" [(ngModel)]="newFlight.number_of_passengers" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Capacidad" aria-label="Capacidad">
    </div>

     <div class="form-group col-md-4 col-sm-12">
        <label>Ingrese ruta del vuelo</label>
        <select  class="form-select form-select-sm"  [(ngModel)]="newFlight.id_ruta" [ngModelOptions]="{standalone: true}" aria-label="Selección">
            <option [ngValue]="0">--Select--</option> <!-- Default item to show -->
            <option *ngFor="let opts of routeList " [ngValue]="opts.id" type="text">
         {{opts.name}}</option>
        </select>
    </div>

    <div class="col-md-4">
        <button class="btn btn-success text-center form-control" (click)="addFlight(newFlight)" type="submit">
            Registrar vuelo
        </button> 
    </div>
<!--
        id:number=0
    cost: number = 0
    number_of_passengers : number = 0
    status: string =  ""
    id_airplane: string =""
    id_ruta: number = 0
    id_promotion: number = 0
-->
    <h5>Lista de vuelos</h5>
    <table class="table table-responsive justify-content-between bg-white">
        <thead>
          <tr>
            <th scope="col">ID vuelo</th>
            <th scope="col">Costo</th>
            <th scope="col">Matricula de Avión</th>
            <th scope="col">ID de ruta</th>
          
           
          </tr>
        </thead>
            <tbody *ngFor='let flight of flightList'>
                <tr >
                    <th scope="row">{{flight.id}}</th>
                    <td >{{flight.cost}}</td>
                    <td >{{flight.id_airplane}}</td>
                    <td >{{flight.id_ruta}}</td>
                   
                </tr>
            </tbody>
    </table>
    <h5>Retirar vuelo de la base de datos</h5>
    <div class="col-md-4 col-sm-12">
        <span class="input-group-text bg-primary"><i
            class="bi bi-card-heading text-white"></i>  Ingrese numero de vuelo</span>
        <input type="number" [(ngModel)]="updateFlight.id" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Número de cédula">
    </div>
    <div class="col-md-4">
        <button class="btn btn-warning text-center mt-2" type="submit" (click)="deleteFlight(updateFlight)">
            Eliminar vuelo
        </button>
    </div >



    
</div>




